body
{
    background-size: cover;
}

.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

#status{
   font-size: 20px;
}

#start{
    font-size: 22px;
}

#instructions{
    color: black;
}

.copy_right_footer
{
    position: sticky;
    color: rgb(51, 15, 80);
    bottom: 5;
    width: 100%;
    background-color: rgb(204, 149, 246);
    line-height: 4;
    text-align: center;
}